<div id="content">
  <header class="b-todos-header">
    <h1>My todos</h1>
  </header>
  <section class="b-todos">
    <form class="b-create-todo-form">
      <span class="b-text-input">
        <input type="text" name="todo" placeholder="What needs to be done?" />
      </span>
      <button style="display: none;"></button> <!-- To auto-submit form on Enter -->
    </form>
    <ul class="b-todos-list">
      <li class="b-todos-list-item">
        <input type="checkbox" />
        <span class="b-todos-list-item-text">Buy some fruits</span>
        <i class="b-remove-icon"></i>
      </li>
      <li class="b-todos-list-item">
        <input type="checkbox" />
        <span class="b-todos-list-item-text">Buy some fruits</span>
        <i class="b-remove-icon"></i>
      </li>
      <li class="b-todos-list-item b-todos-list-item--done">
        <input type="checkbox" checked="checked" />
        <span class="b-todos-list-item-text">Buy some fruits</span>
        <i class="b-remove-icon"></i>
      </li>
    </ul>
  </section>
  <footer class="b-todos-footer">
    <span class="b-todos-count">5 todos</span> left
  </footer>
</div>