<div id="content">
  <header class="b-todos-header">
    <h1>My todos</h1>
  </header>
  <section class="b-todos">
    <header id="todo_form"></header>
    <section id="todos_list"></section>
    <footer id="todos_stats" class="b-todos-footer"></footer>
  </section>
</div>

<script>
  // Bootstrapped models for initialization
  var todosBootstrap = [{
        "isDone": true,
        "text": "Write a simple Backbone.js based Todo app"
      }, {
        "isDone": true,
        "text": "Move the app to a Backbone Aura platform"
      }, {
        "isDone": true,
        "text": "Install PhantomJS and experiment!"
      }, {
        "isDone": false,
        "text": "Profit!"
      }];
</script>